.hidden {
  display: none;
}


.navArrows.landscape {
  .navArrow {
    height: 50px;
    border: $devBorder solid cyan;
    will-change: opacity;
    // opacity: .25;
    // mix-blend-mode: difference;
    // box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.75);
    transition-timing-function: ease-in;
    -webkit-transition: opacity $navFadeOutSpeed;
    transition: opacity $navFadeOutSpeed;
    &:hover {
      opacity: 1;
      transition-timing-function: ease-out;
      -webkit-transition: opacity $navFadeInSpeed;
      transition: opacity $navFadeInSpeed;
    }
  }
  .left {
    position: fixed;
    top: 50%;
    left: 2vw;
    transform: translate(0%, -50%);
    // mix-blend-mode: difference;
  }
  .right {
    position: fixed;
    top: 50%;
    right:2vw;
    transform: translate(0%, -50%);
  }

  .navPlayPause {
    border: $devBorder solid pink;
    position: fixed;
    top: 92%;
    right:2vw;
    transform: translate(0%, -50%);
    img {
      height: $navIconHeight;
      border: $devBorder solid red;
    }
    .autoPlay {
      border: $devBorder solid cyan;
      will-change: opacity;
      opacity: .25;
      transition-timing-function: ease-in;
      -webkit-transition: opacity $navFadeOutSpeed;
      transition: opacity $navFadeOutSpeed;
      &:hover {
        opacity: 1;
        transition-timing-function: ease-out;
        -webkit-transition: opacity $navFadeInSpeed;
        transition: opacity $navFadeInSpeed;
      }
    }
  }
}


.bottom {
  padding-bottom: 1.5%;
  width: $imageWidth;
  @include flexColumnCenter();
  border: $devBorder solid green;
  color: $fontColor;
  font-family: 'Montserrat', monospace;

  .description {
    border: $devBorder solid pink;
    font-size: $fontSizeTimeLabel;
    text-align: center;

    .descriptionText {
      font-size: $fontSizeNormal;
      padding-top: .25em;
      border: $devBorder solid pink;
    }

    .descriptionTech {
      font-family: sans-serif;
      font-size: $fontSizeSmall;
      padding-top: .25em;
      color: $textDim;
      border: $devBorder solid pink;
    }
  }
  .hidden {
    display: none;
  }

  .navArrows.portrait {
    padding-bottom: 1.5%;
    width: 100%;
    border: $devBorder solid orange;
    @include flexRowCenter;
    .navPlayPause {
      border: $devBorder solid pink;
      padding-top: .55em;
      img {
        height: $navIconWidth;
        border: $devBorder solid red;
      }
      .autoPlay {
        border: $devBorder solid cyan;
        will-change: opacity;
        opacity: .25;
        transition-timing-function: ease-in;
        -webkit-transition: opacity $navFadeOutSpeed;
        transition: opacity $navFadeOutSpeed;
        &:hover {
          opacity: 1;
          transition-timing-function: ease-out;
          -webkit-transition: opacity $navFadeInSpeed;
          transition: opacity $navFadeInSpeed;
        }
      }
    }

    .navArrow {
      margin: .55em 5%;
      height: $navIconHeight;
      border: $devBorder solid cyan;
      will-change: opacity;
      opacity: .25;
      transition-timing-function: ease-in;
      -webkit-transition: opacity $navFadeOutSpeed;
      transition: opacity $navFadeOutSpeed;
      &:hover {
        opacity: 1;
        transition-timing-function: ease-out;
        -webkit-transition: opacity $navFadeInSpeed;
        transition: opacity $navFadeInSpeed;
      }
      .left {
        display: inline-block;
        padding: 10%;
      }
      .right {
        display: inline-block;
        padding: 10%;
      }
    }
  }


  @media (min-width: 1200px) {
    // .navArrow {
    //   display: block;
    // }
  }

}
