$textBoxPadding: 18px;
$textBoxPaddingTop: ($textBoxPadding - 7px);

#visualisationTextBox,
#eventsTextBox,
#designTextBox {
  cursor: pointer;
  border-radius: $navBoxCornerRadius;
  box-shadow: $boxShadow;
  animation: 3s ease-out 0s 1 fadeIn;
  opacity: 1;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  position: fixed;
  bottom: 75px;
  background-color: $colorTextBoxBackground;

  padding: $textBoxPadding;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: $textBoxPaddingTop;
  color: white;
  font-size: 20pt;
  text-align: justify-content;
  p {
    border: 0px solid lightgrey;
    // hyphens: auto;
    text-align: justify;
  }

  .hidden {
    display: none;
  }
}



@media (min-width: $mediaWidth1) {
  #visualisationTextBox,
  #eventsTextBox,
  #designTextBox {
    cursor: pointer;
    animation: 3s ease-out 0s 1 fadeIn;
    opacity: 1;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
    position: fixed;
    bottom:15%;
    left: 12.5%;
    background-color: $colorTextBoxBackground;
    width: 80vw;
    padding: $textBoxPadding;
    padding-top: $textBoxPaddingTop;
    color: white;
    font-size: 25pt;
    text-align: justify-content;
    p {
      border: 0px solid lightgrey;
      // hyphens: auto;
      text-align: justify;
    }

    .hidden {
      display: none;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
