$devBorder: 0px;

// $mediaWidth1: 100px;

$colorBackground: black;
$colorMain: 68;
$colorNavBackground: rgba($colorMain,$colorMain,$colorMain,0.95);
$colorNavBackgroundSolid: rgba($colorMain,$colorMain,$colorMain,1);
$colorTextBoxBackground: rgba($colorMain,$colorMain,$colorMain,0.95);

$boxShadowBlur: 10px;
$boxShadowSpread: 0px;
$boxShadow: 0 0 $boxShadowBlur $boxShadowSpread rgba($colorMain,$colorMain,$colorMain,0.5);

$navBoxCornerRadius: 12.5px;
$navIconWidth: 50px;
$navIconHeight: 30px;
$navFontSize: 10px;

$navFadeOutSpeed: .3s;
$navFadeInSpeed: .1s;

$edgePadding: 25px;
$edgePaddingLandscape: 50px;

$textFooter: #ccc;
$textDim: #999;

$fontScreenReference: 60vh;
$fontSize: ($fontScreenReference/45);
$fontWeight: 300;
$fontSizeNormal: 1em;
$fontSizeSmall: .9em;

.width10 {width: 10%};
.width13 {width: 13%};
.width15 {width: 15%};
.width20 {width: 20%};
.width25 {width: 25%};
.width30 {width: 30%};
.width40 {width: 40%};
.width50 {width: 50%};
.width65 {width: 65%};
.width75 {width: 75%};
.width90 {width: 90%};
.width100 {width: 100%};
